* {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
}

.header .container {
    justify-content: space-between;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }  