* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.placeholder {
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border: 1px solid #ddd;
    display: block;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.quote {
    background-color: #E5E7EB;
}

.action {
    background-color: #3882F6;
}

body {
    font-family: "Roboto", sans-serif;
}

.flex-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;     /* everything is in the middle */
    padding: 0 30px;    /* padding 30px left and right when shrinks */
    align-items: center;
}

.header .flex-container {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer {
    background-color: #1F2937;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}