* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.placeholder {
    width: 550px;
    height: 250px;
    background-color: #ccc;
    border: 1px solid #ddd;
    display: block;
}

.information.header-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.card {
    width: 190px;
    height: 200px;
    border: 4px solid blue;
    border-radius: 10%;
}

.quote {
    background-color: #E5E7EB;
}

.action {
    background-color: #3882F6;
}

.footer {
    color: #E5E7EB;
}

.hero, .information, .quote, .action {
    /* display: flex; */
    flex: 1; /* remove? */
    height: 500px;
    justify-content: center;
    align-items: center;
}

.footer {
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 75px;
}

.footer {
    height: 100px;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;     /* everything is in the middle */
    padding: 0 30px;    /* padding 30px left and right when shrinks */
    align-items: center;
}

.header .flex-container {
    justify-content: space-between;
}

.flex-container.information {
    flex-direction: column;
    gap: 50px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer {
    background-color: #1F2937;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}